1) String Slicing

The string slicing allows you to extract a portion of a string by specifying a start and end index. It follows the format string[start:end], where start is the index where slicing begins (inclusive) and end is the index where it ends (exclusive).

In [3]:
a = "South Korea is a beautiful country"
a[0:11]

'South Korea'

In [7]:
a[0:30:2] #In this default step is 2

'SuhKrai  euiu o'

In [11]:
a[-26:] #If you want only last characters

'rea is a beautiful country'

In [14]:
a[:-7] #It prints without considering lats 7 characters

'South Korea is a beautiful '

2) Lists Key Features

The List is a ordered collection of items. It stores any data type is known as heterogenous.

In [16]:
a = []
a.append("I like to") #Similarly append is used for combining the characters
a.append("visit south korea")
a.append("because nature of the south korea is very beautiful")
print(a)

['I like to', 'visit south korea', 'because nature of the south korea is very beautiful']

In [17]:
a.insert(3, "and calm") #Insert is used for including in list 
print(a)

['I like to', 'visit south korea', 'because nature of the south korea is very beautiful', 'and calm']

In [19]:
a = ["South Korea", "Japan"]
b = ["Tamil Nadu", "Andhra Pradesh"]
a.extend(b) #It is used append elements from another list
print(a)

['South Korea', 'Japan', 'Tamil Nadu', 'Andhra Pradesh']

In [21]:
a = ["South Korea", "Japan"]
b = ["Tamil Nadu", "Andhra Pradesh"]
a+b #It is a concatenate in easy words is known as addition

['South Korea', 'Japan', 'Tamil Nadu', 'Andhra Pradesh']

3) Access, Modify and Delete elements in a list

In [10]:
#Access
a = ["South Korea", "My Demon", "Sweet Home", "Pinocchio", 18, 6, 2]
for i in a:
    print(i)

South Korea
My Demon
Sweet Home
Pinocchio
18
6
2

In [9]:
#Modify
a = [1,2,3,4,5]
for x in a:
    x += 2
    print(x)

3
4
5
6
7

In [11]:
#Delete
a = ["South Korea", "My Demon", "Sweet Home", "Pinocchio", 18, 6, 2]
del a
print(a)

NameError: name 'a' is not defined

4) Lists VS Tuples

Lists :-
____________________________________________________________________________________________________________________________________________

-> You can use Python lists to store data of multiple types simultaneously.
-> Lists help preserve data sequences and further process those sequences in other ways. 
-> Lists are dynamic.
-> Lists are mutable.
-> Lists are ordered.
-> An index is used to traverse a list.

In [13]:
a = [1, 2, 3, 4, 5, 6]
print("Original List", a)
a[0] = 18
print("Random List", a)

Original List [1, 2, 3, 4, 5, 6]
Random List [18, 2, 3, 4, 5, 6]

Tuples :-
___________________________________________________________________________________________________________________________________________

-> Tuples are used to store heterogeneous and homogeneous data.
-> Tuples are immutable in nature.
-> Tuples are ordered
-> An index is used to traverse a tuple.
-> Tuples are similar to lists. It also preserves the data sequence.

In [15]:
a = (1, 2, 3, 4, 5, 6)
print("Original List", a)

Original List (1, 2, 3, 4, 5, 6)

In [16]:
a[0] = 18
print("Random List", a)

TypeError: 'tuple' object does not support item assignment

5) Sets

-> Sets are unordered  and unique collection of elements.
-> It doesn't allow duplicate elements.
-> Indexing will not work.

In [17]:
a = {"South Korea", "Lee Jung Suk", "Song Kang"}
b = {"Sweet Home", "Doctor Strange", "Two Worlds"}
a + b

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [25]:
a | b #Union

{'Doctor Strange',
 'Lee Jung Suk',
 'Song Kang',
 'South Korea',
 'Sweet Home',
 'Two Worlds'}

In [26]:
a & b #Intersection

set()

In [27]:
a - b #Difference

{'Lee Jung Suk', 'Song Kang', 'South Korea'}

In [28]:
a ^ b #Symmetric Difference

{'Doctor Strange',
 'Lee Jung Suk',
 'Song Kang',
 'South Korea',
 'Sweet Home',
 'Two Worlds'}

6) Use Cases of Tuple & Sets

In [31]:
#Tuple
a = (1, 2, 3, 4, 5, "South Korea")
for i in a:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
South Korea <class 'str'>

In [32]:
#String
a = {1, 2, 3, 4, 5, "South Korea"}
for i in a:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>
South Korea <class 'str'>

7) Add, Modify and Delete in dictionary

The dictionary is a data structure that stores data as a key value pair

In [35]:
#Add
a = {"Name" : "Manish", "Email" : "12345@gmail.com", "Contact" : 987654321}
a["Address"] = "Near Demon"
print(a)

{'Name': 'Manish', 'Email': '12345@gmail.com', 'Contact': 987654321, 'Address': 'Near Demon'}

In [38]:
#Delete
del a
print(a)

NameError: name 'a' is not defined

In [40]:
#Modidy
a = {
  "brand": "H&M",
  "model": "Sweartshirt",
  "year": 1964
}
a["year"] = 2024
print(a)

{'brand': 'H&M', 'model': 'Sweartshirt', 'year': 2024}

8) Dictionary Keys

-> Python dictionary keys() function is used to return a new view object that contains a list of all the keys in the dictionary.

In [42]:

# Python program to illustrate keys()
# creating a dictionary
stud = {'Name': 'Emily', 'Age': 28, 'Salary': 68000, 'City': 'Boston', 'Education': 'PG'}
keys = stud.keys()
print(keys)

dict_keys(['Name', 'Age', 'Salary', 'City', 'Education'])